<?php

use \lexxkn\ClickhouseMigrations\Migrations\BaseMigration as Migration;

class {FILE_NAME} extends Migration
{
    
    /**
     * 
     * Migration up method
     */
    public function up()
    {
        
    }
    
    /**
     * 
     * Migration down method
     */
    public function down()
    {
        
    }

}
