<?php

class {FILE_NAME} extends \lexxkn\ClickhouseMigrations\Migrations\BaseMigration
{
    
    /**
     * 
     * Migration up method
     */
    public function up()
    {
        
    }
    
    /**
     * 
     * Migration down method
     */
    public function down()
    {
        
    }

}
